{% extends 'core/base.html' %}
{% block title %}Materiales Aceptados{% endblock %}

{% block content %}
<h2>Materiales Aceptados</h2>
<ul class="list-group">
    <li class="list-group-item"><strong>PAP:</strong> Papel y cartón (cajas, hojas, cuadernos sin espirales ni plásticos).</li>
    <li class="list-group-item"><strong>PLAS:</strong> Plásticos reciclables (botellas PET, envases, tapas. No bolsas).</li>
    <li class="list-group-item"><strong>VID:</strong> Vidrios (botellas y frascos sin tapa).</li>
    <li class="list-group-item"><strong>LAT:</strong> Latas (aluminio y hojalata).</li>
    <li class="list-group-item"><strong>ELEC:</strong> Electrónicos pequeños (celulares, cargadores, teclados).</li>
    <li class="list-group-item"><strong>TEX:</strong> Textiles (ropa en buen estado, sábanas, cortinas).</li>
    <li class="list-group-item"><strong>VOL:</strong> Voluminosos reciclables (muebles, colchones, bicicletas).</li>
</ul>
{% endblock %}
