{% extends 'core/base.html' %}
{% block title %}Puntos Limpios{% endblock %}

{% block content %}
<h2>Puntos Limpios</h2>
<p>Pronto se integrará un mapa interactivo con los puntos limpios de la comuna.</p>
<ul>
    <li> Calle La Fontaine 230, Junta de Vecinos La Fontaine N°17, Valparaiso</li>
    <li>José Serey s/n, 2° sector de Playa Ancha, Valparaiso.</li>
    <li>Washington 1926, C° OHiggins, Valparaiso.</li>
    <li>Alessandri 1255 Estacionamiento Homecenter Sodimac, Viña del Mar.</li>
</ul>
{% endblock %}
